body {
    background-color: #EAEDF1
}

h2 {
    font-weight: normal;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

.header {
    width : 1510px;
    margin: 83px auto 36.5px;
    height: 295px;
}

.left-header-column,
.right-header-column {
    background-color: white;
}

.left-header-column {
    float: left;
    height: 295px;
    width: 434px;
    margin-left: 80px;
}

.right-header-column {
    float: left;
    margin-left: 90px;
    height: 294px;
    width: 820px;
}

.left-column{
    float: left;
    width: 633px;
    height : 1097px;
    margin-left : 269px;
}

.center-column {
    float: left;
    width: 72px;
    height : 1173px;
    background-color: white;
    margin-left : 5px;
}

.right-column{
    width: 626px;
    height : 1165px;
    background-color: white;
    float: right;
    margin-right : 269px;
}

.footer {
    clear: both;
    background-color: white;
    height: 128px;
    width : 1510px;
    margin: 0 auto;
}

.header > .left-header-column > img {
    margin-top: 32px;
    margin-left: 24px;
}

.left-header-column-info {
    display: inline-block;
    width: 255px;
    height: 183px;
}

.header > .left-header-column > .left-header-column-info >  h1 {
    font-size: 30px;
    display: block;
    float: right;
    margin-top: 76px;
    margin-right: 30.5px;
    margin-bottom: 0px;
    color: #33495F;
}

.header > .left-header-column > .left-header-column-info > p {
    font-size: 17.3px;
    display: block;
    float: left;
    margin: 0px;
    margin-left: 37px;
    margin-top: 3px;
    color: #586879;
}

.bar {
    width: 108.4px;
    height: 78px;
    display: block;
    float: left;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 29px;
}

.bar-1 {
    background-color: #16C4EC;
}

.bar-2 {
    background-color: #FA5351;
}

.bar-3 {
    background-color: #10CDC1;
}

.bar-4 {
    background-color: #33495F;
}

.bar-1 > img {
    margin-left: 45px;
    margin-top: 21px;
}

.bar-2 > img {
    margin-left: 46px;
    margin-top: 17px;
}

.bar-3 > img {
    margin-left: 41px;
    margin-top: 19px;
}

.bar-4 > img {
    margin-left: 40px;
    margin-top: 16px;
}

.left-header-column-bar-text {
    display: block;
    font-family: "Lato";
    margin: 0px;
    color: white;
    font-size: 16px;
    letter-spacing: -0.8px;
}

.bar-1 > p {
    margin-left: 30px;
    margin-top: 2px;
}

.bar-2 > p {
    margin-left: 14px;
    margin-top: 1px;
}

.bar-3 > p {
    margin-left: 22px;
}

.bar-4 > p {
    margin-left: 37px;
}

.right-header-column-info > h1 {
    font-size: 38px;
    margin-top: 42px;
    margin-left: 28px;
    letter-spacing: 0.6px;
    display: block;
    float: left;
    margin-bottom: 0px;
}

.right-header-column-info {
    height: 219px;
    width: 460px;
    float: left;
    color: #33495F;
}

.right-header-column-info > p {
    display: block;
    float: left;
    line-height: 1.8;
    margin-top: 10px;
    font-size: 17px;
    margin-left: 30px;
    letter-spacing: 0.5px;
    word-spacing: 2.5px;
    margin-bottom: 0px;
}

.right-header-column-info > p > a {
    text-decoration: none;
    color: #16C4EC;
}

.right-header-column-email {
    height: 219px;
    width: 360px;
    float: left;
}

.right-header-column-email > h1 {
    display: block;
    font-size: 23px;
    color: #33495F;
    margin-top: 104.5px;
    margin-left: 52px;
}

.right-header-column-email > h1:nth-child(2) {
    color: #FA5351;
    letter-spacing: 2.2px;
    margin-top: 15px;
    margin-left: 54px;
}

.right-header-column-email > hr {
    margin-top: 32px;
    margin-left: 52px;
    color: #788695;
    width: 270px;
}

.right-header-column-social {
    float: left;
    height: 75px;
    width: 460px;
}

.right-header-column-social > a {
    display: inline-block;
    width: 33px;
    height: 25px;
    margin-top: 24px;
    margin-right: 36.5px;
    background: url("img/header-social.png") no-repeat;
    vertical-align: middle;
}

.right-header-column-social > a:first-child {
    margin-left: 21px;
}

.right-header-column-social > a:nth-child(2) {
    background-position: -72px 0;
}

.right-header-column-social > a:nth-child(3) {
    background-position: -146px 0;
}

.right-header-column-social > a:nth-child(4) {
    background-position: -219px 0;
}

.right-header-column-social > a:nth-child(5) {
    background-position: -293px 0;
}

.right-header-column-social > a:nth-child(6) {
    background-position: -365px 0;
}

.left-column-post {
    width: 100%;
    height: auto;
    background-color: white;
    margin-bottom: 33px;
}

.post-1 {
    display: inline-block;
    margin: 0;
    margin-left: 25px;
}

.post-1:first-child {
    margin-top: 27px;
    font-size: 25px;
    color: #33495F;
}

.post-1:nth-child(2) {
    margin-left: 11px;
    font-size: 18px;
    color: #9EA7B4;
}

.post-1:nth-child(4) {
    margin-left: 23px;
    font-size: 21px;
    margin-top: 1px;
    color: #04BCA6;
    margin-bottom: 31px;
}

.post-1-info,
.post-1-info-img {
    display: inline-block;
    margin: 0;
    margin-bottom: 14px;
    vertical-align: top;
}

.post-1-info-img {
    margin-left: 27px;
}

.post-1-info {
    margin-left: 5px;
    margin-top: 1px;
    color: #33495F;
}

.post-1-aboutinfo,
.post-1-aboutinfo-img,
.post-1-aboutinfo-a {
    display: inline-block;
    margin: 0;
    margin-top: 35px;
    vertical-align: top;
    color: #9EA7B4;
    margin-bottom: 21px;
}

.post-1-aboutinfo-img {
    margin-left: 27px;
    margin-top: 38px;
}

.post-1-aboutinfo {
    margin-right: 21px;
    letter-spacing: -0.2px;
}

.post-1-aboutinfo-a{
    font-family: "Signika-Lite";
    margin-top: 27.9px;
    margin-left: 55px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    background-color: #16C4EC;
    width: 217px;
    height: 29px;
    text-align: center;
    padding-top: 9px;
    border-radius: 4px;
}

.left-column-post:nth-child(2) > .post-1:nth-child(4) {
    margin-bottom: 17px;
}

#margin-fix {
    margin-top: 4px;
}

.left-column-post:nth-child(2) > .post-1-info,
.left-column-post:nth-child(2) > .post-1-info-img {
    margin-bottom: 12px;
}

.left-column-post:nth-child(2) > .post-1-aboutinfo {
    margin-right: 15px;
    margin-top: 37px;
}

.left-column-post:nth-child(2) > .post-1-aboutinfo-img {
    margin-top: 40px;
}

#margin-fix-2 {
    margin-right: 8px;
}

.left-column-post:nth-child(2) > .post-1-aboutinfo-a {
    margin-top: 29.3px;
    margin-left: 74px;
}

.left-column-post:nth-child(3) > .post-1:nth-child(4),
.left-column-post:nth-child(4) > .post-1:nth-child(4) {
    margin-bottom: 0px;
}

.left-column-post:nth-child(3) > .post-1:nth-child(2),
.left-column-post:nth-child(4) > .post-1:nth-child(2) {
    margin-left: 5px;
}

.left-column-post:nth-child(3) > .post-1:first-child,
.left-column-post:nth-child(4) > .post-1:first-child {
    margin-top: 29px;
}

.left-column-post:nth-child(3) > .post-1-aboutinfo{
    margin-top: 34px;
}

.left-column-post:nth-child(3) > .post-1-aboutinfo-img {
    margin-top: 37px;
}

.left-column-post:nth-child(3) > .post-1-aboutinfo-a {
    margin-top: 24px;
    margin-left: 48px;
    background-color: #B0BBCA;
}

.left-column-post:nth-child(4) > .post-1-aboutinfo-img {
    margin-top: 34px;
}

.left-column-post:nth-child(4) > .post-1-aboutinfo {
    margin-top: 31px;
}

.left-column-post:nth-child(4) > .post-1-aboutinfo-a {
    margin-top: 21px;
    margin-left: 32px;
    background-color: #B0BBCA;
}

#margin-fix-3 {
    margin-left: 49px;
}